{
  "targets": [
    "evilcorp.com"
  ],
  "bbot_modules": {
    "securitytrails": { "api_key": "CHANGE_ME" },
    "shodan_dns": { "api_key": "CHANGE_ME" },
    "virustotal": { "api_key": "CHANGE_ME" },
    "c99": { "api_key": ["CHANGE_ME"] }
  },
  "TELEGRAM_BOT_TOKEN": "",
  "TELEGRAM_CHAT_ID": "",
  "scan_defaults": {
    "max_workers": 2,
    "spider_depth": 2,
    "spider_distance": 1,
    "spider_links_per_page": 10,
    "sleep_after_scan_seconds": 120
  }
}


