{
  email {$LE_EMAIL}
}

{$LE_DOMAIN} {
  encode gzip
  tls {$LE_EMAIL}

  reverse_proxy bbot_osint:8000 {
    header_up X-Forwarded-Proto {scheme}
    header_up Host {host}
    header_up X-Real-IP {remote}
    header_up X-Forwarded-For {remote}
  }
}

# Optional HTTP to HTTPS redirect is automatic by Caddy


